.page-header {
    width: 100vw;
    position: absolute;
    z-index: 9;
    &__wrapper {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 20px;
        box-sizing: border-box;
    }

    &__right {
        display: flex;
        flex-direction: column;
    }
}